@model MusicOutLoud.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
<h2>Use an account to log in.</h2>
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "login_form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { @id = "userId" })
                @*@Html.ValidationMessageFor(m => m.UserName)*@
                <div class="message-error" id="error_user" style="display:none">
                    * You need to insert a user.
                </div>
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @id = "passId" })
               @* @Html.ValidationMessageFor(m => m.Password)*@
                <div class="message-error" id="error_pass" style="display:none">
                    * You need to insert a password.
                </div>
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
</section>

<section class="social" id="socialLoginForm">
    @*<center><h2 style="padding-left: 45px;">Plug yourself in...NOW!</h2></center>*@
    <img style="margin: -40px 0 0 0; height: 400px" src="~/Content/images/login_img.png" />

    @*@Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })*@
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
