@using DataDomainEntities;
@model IEnumerable<PlayList>
 
@{
    ViewBag.Title = "Home Page";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about this work visit
                <a href="http://thoth.cc.e.ipl.pt/classes/PI/1213v/LI51N/pages/componente-pratica/272" title="PI Work Website">http://thoth.cc.e.ipl.pt/classes/PI/1213v/LI51N/pages/componente-pratica/272</a>.
                The page features detailed information on <mark>the 3 CRITICAL steps</mark> to help you understand the purpose of this work.
                If you have any questions about PI evaluation methods visit
                <a href="http://thoth.cc.e.ipl.pt/classes/PI/1213v/LI51N/pages/programacao-na-internet---s1213v/242" title="PI description">this webpage</a>.
            </p>
        </div>
    </section>
}
<h3>To start using MusicOutLoud we suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Make your registration in the web application. If you already have one, please don't forget to activate your
        account by clicking the link in the e-mail we sent you. Login MusicOutLoud and complete your profile by adding an avatar
        of your choice.
        @*<a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>*@
    </li>

    <li class="two">
        <h5>Create playlists</h5>
        Start creating your playlists and add some music to them. When you create a playlist you can edit it's description 
        and add some music(s). Just make your search and select as many music(s) as you wish by checking the checkboxes 
        for each music you want to add. Later you can move around the music position inside the playlist or even place it 
        in a different playlist.
        @*<a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>*@
    </li>

    <li class="three">
        <h5>Share your playlists</h5>
        You can easily share your created playlists with other users by giving them access to edit them or just look at them. 
        It's up to you how you use it!
        @*<a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>*@
    </li>
</ol>
<hr />



@if(@User.Identity.IsAuthenticated){
    
    if(!ViewBag.UserActive){
        <h2>Activate your Account!</h2>

        <p>
            You are registered but your account is not valid. Please try clicking the link in your e-mail again.
        </p>

        <p>
            If you haven't received the e-mail or want to resend it, please @Html.ActionLink("click here", "SendMail", "Account", new { id = ViewBag.UserId}, new { target="_self", name="summary" }) .
        </p>
    }
    else{
        if(Model.FirstOrDefault()!=null){
        
            <br />
            <div class="ui-widget">
              <label for="tags">Search for @User.Identity.Name playlists: </label>
              <input id="tags" class="searchField" />
                <div class="btn_Go" >
                    <p><input id="goBtn" class="btn_submit" type="submit" value="Go!"/></p>
                </div>
            </div>
            <br />
            <hr />
        
            <div class="separator"></div>
            <h2>Existing Playlists:</h2>
    

            <p><strong>@User.Identity.Name Playlists:</strong></p>
            <div class="links">
                <table>
                @{int mpls = 0;}
                @foreach (PlayList t in Model)
                {
                   if(t.Owner.Equals(User.Identity.Name)){  
                       <tr>
                           <td style="width:auto">
                               @{mpls++;}
                                @Html.RouteLink(@t.Name,new { @controller= "PlayList", @action = "PlayList", @id=@t.Id})
                               @if(@t.Description != null)
                               {
                                <span>- @t.Description</span>
                               }
                           </td>
                           <td style="width:auto">
                                <a class="del" href=@Url.Action("Delete", "Home", new { id = @t.Id}) onclick="return confirm('Are you sure you want to delete this playlist?');"> 
                                    <img style="height: 18px; vertical-align:central; border:none" src="~/Content/images/delete.png" title="Delete playlist" />
                                </a>
                           </td>
                       </tr>        
                   }
                }
                </table>
                @if(mpls == 0)
                {
                  <br />
                    <span><i>You have no playlists created!</i></span>
                    <br />  
                }
                <br />
                <div class="error">
                    @Html.ValidationMessage("removePlaylist","* The playlist you tried to delete contains musics and it can't be removed.")
                </div>
            </div>

            <br/>
        }
        <p><strong>Playlists shared to @User.Identity.Name:</strong></p>
        <div class="links">
            @{int pls=0;}
            @foreach (PlayList t in Model)
            {
               if(!t.Owner.Equals(User.Identity.Name) && t.IsSharedWith(User.Identity.Name) ){
                    <ul>
                        <li>@Html.RouteLink(@t.Name,new { @controller= "PlayList", @action = "PlayList", @id=@t.Id}) - belongs to @t.Owner</li>
                        @{pls++;}
                   </ul>  
               }
            }
            @if(pls==0)
            {
                <br />
                <span><i>There are no playlists shared to this user!</i></span>
                <br />
            }
        </div>
        
        
    }
    
    <br/>

if(ViewBag.UserActive!= null){
    if(ViewBag.UserActive){
        <hr />

        <h3>Create a new Playlist:</h3>
        <br />

        using (Html.BeginForm("CreatePlayList", "Home", FormMethod.Post, new { id = "list_form" }))
        {
                   <div >
                    <fieldset >
                        <legend >Create new playlist</legend>

                        <div >
                            <div >
                                @Html.ValidationMessage("newPlayListName", "*")
                                @Html.TextBox("newPlayListName", "" ,new { @id = "listName" })  
                            </div>
                            <div class="message-error" id="error_list" style="display:none">
                                * Playlist creation was unsuccessful. Playlist name must have a value.
                            </div>
                            <div class="message-error" id="error_list2" style="display:none">
                                * Playlist creation was unsuccessful. Playlist name already exists.
                            </div>
                            @*<div class="error">
                                @Html.ValidationMessage("newPlayListName", "* Playlist creation was unsuccessful. Playlist name must not exist.")
                            </div>*@
                            <div >
                                <p><input type="submit" value="Create" id ="createPlaylistbtn" /></p>
                            </div>

                        </div>
                    </fieldset>
                </div>
        }
        }
    }

}

else{
    <div class="separator"></div>
    <p><strong>STOP wasting time!</strong></p>
    <p><strong> GET STARTED NOW:</strong></p>
    <p>Login or create an account to start using MusicOutLoud!</p>
}
